table {
    border-collapse: collapse;
    
}

th {
    white-space: nowrap;
}

td, th {
    vertical-align: top;
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

tr {
    transition: 0.4s;
}

tr:nth-child(odd) {
    background-color: #ececec;
}

tr:hover {
    background-color: #c7c7c7;
}
