/* Override of Foundation defaults */
tr {
	border-bottom: 1px solid #555;
}

body {height: 100.06%;} /* Will force scrollbar to always be present */



/* accordion-title vertical centering fix*/
.accordion-title {
	padding-bottom: 10px; 
}
/* +/- open/close icon size and position improvement
	This icon was way TOO SMALL before */
.accordion-title:before {
	content: "+";
	float: right;
	font-size: 2.5em;
	margin-top: -12px;
}
.accordion-title.active:before {
	content: "-";
}

/* accordion-content */
.accordion-content {
  height: 60vh; /* 40vh works ok too */
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden; /* looks better at large sizes, cuts graphs off on iphone 5 */
}











.progress-box {
	
}

.show-me {
	background-color: #d3e4ff;
	border: 2px solid black;
}


/* table data fixes */
/* wrapfix only for #, date, name, diff-combo .... area and partners/notes combo are unmodified */
.wrapfix {white-space: nowrap;}
/* italics may look good */
.with {text-decoration: underline;}
/* Fix padding */
.paddingfix {
  padding-top: 0px;
  padding-bottom: 0px;
}




/* Gallery fixes */
/* Thumbnail is a Foundation class, adding width and height centers the thumbnails and provides best padding on all sides of them */
.thumbnail {
	width: 100%;
	height: 100%;
/*	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);*/

}
.thumbnail:hover {
	/*filter: grayscale(0);*/
}



/* Hover stuff */
/*transition: all 0.2s ease;*/
/*-webkit-transition: all 0.2s ease; */

.google-chart {}
.chart-container {}

#date-btn {}
#pitches-btn {}
#area-btn {}
#diff-btn {}
#other-btn {}



#modal1, #modal2 {
	width: 95vw;
	height: 95vh;
}





/* Sort button / SQL loading animation */
/* from: http://tobiasahlin.com/spinkit/ */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}